<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorWheel.Controls" version="1.7.14.51712" targetFramework="net45" />
  <package id="ColorWheel.Core" version="1.7.14.51712" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D10" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net45" />
</packages>