<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="7.0.5-IR21" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net451" />
</packages>